@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend:wght@100..900&family=Pangolin&display=swap');
.features{
    .section{
        font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 2vh 5vw;
  cursor: default;
        h2{
            font-size: 35px;
            font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
        }
        strong{
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            
        }
    }
}